<section class="github-info-feed">
    <h4 id="github-info-feed-header">
        <span class="fab fa-github fa-3x"></span>
        <span>Github Activity</span>
    </h4>
    <div id="github-info-feed-content">
        
    </div>
    <script type="text/javascript" src="{{asset "js/github-info-feed.js"}}"></script>
</section>